.form_box{
    margin: 15px;
    width: 90%;
    height: 100%;
    z-index: 400;
}
.options{
    z-index: 450;
    float: left;
    margin-left: 5px;
    text-decoration: none;
}
th{
    color: #0A0A0A;
    font-weight: 600;
    font-size: 16px;
}
.not_viewe {
    width: inherit;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden; /* Обрезаем все, что не помещается в область */
}
.form_sending{
    padding-top: 5px;
    display: block;
    position: fixed;
    top: 15%;
    right: -400px;
    transition: 0.4s;
    width: 380px;
    border-radius: 7px;
    border: 1px solid #222222;
    z-index: 45;
    max-height: 510px;
    background: #263238;

}
.send_box{
    margin: 5px 0 5px;
    background: #CCCCCC;
    display: inline-block;
    float: right;
    border-radius: 7px;
    width: 340px;
    max-height: 500px;
    overflow:auto;
    color: #00bfa5;
}
.from_send{
    display: block;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-topright: 7px;
    width: 100%;
    background: #eee7e7;
    height: 45px;
    border-bottom: 1px solid #263238;
}
.from_send h4{
    display: inline-block;
    float: left;
    width: 69%;
    height: 100%;
    margin: 0;
    padding: 10px 0 0 7px;

}
.from_send button{
    display: inline-block;
    float: right;
    width: 29%;
    height: 100%;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    background: #0e9482;
    color: white;
    border: 0 solid #000;
}
.from_send button:hover{
    transition: 0.3s;
    background: #0d7264;
}
.from_send button:active{
    transition: 0.3s;
    background: #0c4f46;
    border: 0 solid #000;
}
.send_box_close{
    display: inline-block;
    float: right;
    width: 25px;
    height: 100%;
}
.send_box_close i{
    position: relative;
    top:46%;
    color: #00BFA5;
}
.form_send p{
    z-index: 50;
    color: black;
    opacity: 1;
}
.active_send{
    transition: 0.4s;
    z-index: 1001;
    right: 150px;
}
td ul{
    margin-bottom: 0px;
}